@{
    Layout = "_AfterLoginLayout";
}

<div class="card-container">
    <div class="card text-white align-content-center">
        <div>
            <h2>Ricardo Martinez</h2>
            <h3>Computer Scientist and .NET Developer</h3>
            <p>
                Graduated from Harper College with an Associate in Computer Science in 2019 and graduated from Elmhurst University
                With a bachelors in Computer Science and bachelors in Cyber Security in 2023. I have 8 years of programming experience and 4 years of
                Graphic Designing.
            </p>
            <p>
                Check my GitHub page for more info about how this webpage was made for both frontend and backend, along
                with my API under WatchNest. Below are my GitHub and Linkedin page.
            </p>
            <div class="socials">
                <a href="https://github.com/RaccoonCodes" target="_blank" rel="noopener noreferrer">
                   
                        <i class="fa-brands fa-github"></i>
                    
                </a>
                <a href="https://www.linkedin.com/in/ricardo-martinez-130948208" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-linkedin"></i>
                </a>

            </div>
            <br />
            <p>The Following cards shows more info about myself </p>
        </div>
    </div>
    <div class="card peek-expand text-white align-content-center" data-label="Programming">
        <div>
            <p>
                <br />

              I started my programming career since 2017 and started with learning Java and later on, focused on learning C++. From
              C++, I learned important aspects of computer science such as Time Complexity and Algorithms. During my time at Elmhurst University, 
              I began learning ASP.Net legacy and transition to modern development in ASP.Net Core. From there, I began learning C# and HTML. 
              <br />
              Aside from learning Web Development, I also have experience in other projects such as Mobile Development for a School App
              in Android Studio and some software development in C++, which can be found on my GitHub page. I also have experience input
              penetration testing and ethical hacking for web and network.
            <br />
            <br />
            My Current goal is to be a Full Stack .NET Developer with Angular being my front-end Design along with continuing leanring 
            more in cyber security. 
            </p>

        </div>
    </div>
    <div class="card peek-expand text-white align-content-center" data-label="Hobbies">
        <div>
            <p>
                During my free time, I enjoy playing video games. My favorite types of games
                I enjoy are mostly JRPG, Open World Adventure, Horror, and Strategy.
                <br />
                <br />
                I also play acoustic guitar. I have been playing for about 3 years now. I typically play video games theme 
                songs, which are mostly ballads and peaceful tone music. 
                <br />
                <br />
                If I don't feel like playing games or playing guitar, I tend to continue improving my coding skills and 
                learning more in depth in computer science theory and cyber security.
            </p>

        </div>
    </div>
    <div class="card peek-expand text-white align-content-center" data-label="About this site">
        <div>
            <p>
               This site's main purpose is to store your series or movies into a database. You can sort and find specific part 
               series in your watchlist and edit or delete series from your list. 
               <br />
               This site has 2 different version, including this version, and a separate API for a WatchList V2 
               (Which was renamed to WatchNest and a new API was created which is refactored from my old code for performance improvements)
                <br />
               This Will be the Final Version of this site, I will move on to other projects and focus on developing with Angular as Front end.
                <br />
                <br />
               If you wish to know how this site has improved from the previous version, I have documented everything in detail on my GitHub page (link located on the first card).
               Just for a quick peek on what I mention, in my API README, I documented Time Complexity, Security such as JWT and CORS, and performance improvements such as caching, 
               profile caching and cookies.  
          
            </p>

        </div>
    </div>
</div>
