@{
    Layout = "_AfterLoginLayout";
}
<!--For HTTP 500 errors-->
<div class="text-white justify-content-center align-items-center text-center pt-3">
    <h1>Oops! Something went wrong.</h1>
    <p class="lead">You found an error! Please note how you arrived to this page and contact support!</p>
</div>
