@model RegisterModel

<div class="login-card">
    <h2>Registration</h2>
    <h3>Enter the following information</h3>
    <form method="post" asp-action="Register" asp-controller="Home" class="login-form">
        <input type="text" asp-for="Username" placeholder="Username" />
        <input type="password" asp-for="Password" placeholder="Password" />
        <input type="email" asp-for="Email" placeholder="Email" />
        <button type="submit">REGISTER</button>
        <div asp-validation-summary="All" style="color:#2fe05f"></div>
    </form>

</div>
